<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>The home page <%= "hello world" .toUpperCase() %></h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit voluptatibus expedita laborum nesciunt
        aliquam veniam commodi ab? Est ea animi facilis eveniet eius reprehenderit voluptate, molestiae optio facere,
        temporibus placeat?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id ipsum, amet unde ratione aspernatur nostrum minima
        obcaecati cum sunt facilis numquam totam sed? Minus numquam aut obcaecati vel esse optio.</p>
</body>

</html>